<!-- START OF _includes/article.html -->
{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}

<article>
    <header>
        <h1><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></h1>
        <time>{{ page.date | date: "%B %d %Y" }}</time>
    </header>
    {% if index %}
    <div class="content">
        {{ content | excerpt }}
        <a rel="full-article" href="{{ root_url }}{{ page.url }}">Continue reading »</a>

    </div>
    {% else %}

    <div class="content">
        {{ content }}
    </div>
    {% endif %}


    <footer>
        {% include post/categories.html %}
    </footer>

</article>
<!-- END OF _includes/article.html -->
